.modal {
    background: rgba(0, 0, 0, .7);
}

.modal .modal-body {
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
}

.modal.show {
    display: block;
}

/* .overlay-modal.open {
    position  : fixed;
    top       : 0;
    left      : 0;
    bottom    : 0;
    right     : 0;
    background: rgba(0, 0, 0, .5);
    z-index   : 100;
} */